.leaflet-ruler {
    height: 30px;
    width: 30px;
    background-image: url("./dist/icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55% 55%;
    margin-bottom: 2px;
}

.leaflet-ruler:hover {
    background-image: url("./dist/icon-colored.png");
    background-size: 60% 60%;
}

.leaflet-ruler-clicked {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./dist/icon-colored.png");
    border-color: chartreuse !important;
    background-size: 60% 60%;
}

.leaflet-bar {
    background-color: #ffffff;
}

.leaflet-control {
    cursor: pointer;
}

.result-tooltip {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: black; /* Цвет шрифта */
    text-shadow:
        -1px -1px 0 white,  
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    font-size: 9px; /* Уменьшаем размер шрифта */
    padding: 5px 10px; /* Уменьшаем внутренний отступ */
}

.moving-tooltip {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    font-size: 12px; /* Уменьшаем размер шрифта */
    padding: 5px; /* Уменьшаем внутренний отступ */
    color: black; /* Цвет шрифта */
    text-shadow:
        -1px -1px 0 white,  
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}


.plus-length {
    padding-left: 0px;
}
